

/* Logotipo estilo básico */
/*#logo {
    width: 120px;
    height: auto;
}
/* Personalización de colores *//*
.main-bg {
    background-color: #f4f7f6;
}
.section-title {
    color: #4b4b4b;
    text-align: center;
    margin-bottom: 20px;
}
.btn-main {
    background-color: #007bff;
    color: white;
}
.btn-main:hover {
    background-color: #0056b3;
}
.advantages-icons {
    font-size: 40px;
    color: #007bff;
}*/

